<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="assets/js/highlight/styles/sunburst.css">
<title>[% title %]</title>
</head>
<body>
[% html %]

<div id="footer">
	[% IF config.twitter_account %]
	@<a href="https://twitter.com/[% config.twitter_account %]">[% config.twitter_account %]</a>
	[% END %]
	<span id="pager"></span>
	<span id="time"></span>
</div>
<script type="text/javascript" src="assets/js/jquery.js" charset="utf-8"></script>
<script type="text/javascript" src="assets/js/highlight/highlight.pack.js" charset="utf-8"></script>
<script type="text/javascript" src="assets/js/main.js" charset="utf-8"></script>
</body>
</html>
