* {
	margin: 0;
	padding: 0;
	font-size: 32px;
}

div.contents {
	display: none;
}

h1 {
	position: relative;
	top: 50%;
	margin-top: -21px;
	text-align: center;
	font-size: 56px;
}

h2 {
	background-color: #799e54;
	border-bottom: 3px solid #000;
	padding: 10px;
	margin-bottom: 10px;
	color: #FFFFCC;
}

li {
	margin-left: 30px;
}

div.contents {
	overflow: auto;
}

#footer {
	padding: 0px 0px 5px 5px;
}

#footer,
#footer * {
	border-top: 1px solid #ccc;
	font-size: 16px;
}

#time {
	float: right;
	padding-right: 5px;
}

code {
	margin-left: 10px;
	margin-right: 10px;
}
